<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
<mat-toolbar>
  <span>Fenix</span>
  <span class="example-spacer"></span>
  @if(auth.isLoggedIn()){
    <button [routerLink]="['/repo']" [routerLinkActive]="['is-active']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span class="material-icons">grid_view</span>
    </button>
    <button [routerLink]="['/bookmarks']" [routerLinkActive]="['is-active']" mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <span class="material-icons">favorite</span>
    </button>
    <button [routerLink]="['/logout']" [routerLinkActive]="['is-active']" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
      <span class="material-icons">logout</span>
    </button>
  }
</mat-toolbar>
<router-outlet></router-outlet>
